@import "../../utils/variables";

.addTradeContainer {
  position: absolute;
  transition: 0.1s ease-in-out;
  top: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #1b1b1b6e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(5px);
  font-family: inter;
  color: white;
  overflow-y: scroll;
  text-align: center;
  .startTrade {
    padding: 10px;
    font-size: 20px;
    background-color: $nav-black;
    border: 0;
    border-bottom: 1px solid $site-green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 150px;
    margin: 20px;
    &:hover {
      transform: scale(1.2);
      border-bottom: 1px solid $site-red;
    }
  }
  .confirmSave {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: fit-content;
    background-color: #333333d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    font-family: inter;
    color: white;
    border: 1px solid $site-red;
    padding: 25px;
    border-radius: 10px;
    z-index: 7;
    .message {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .warning {
        font-size: 22px;
        color: $site-red;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .strat {
        color: $site-green;
      }
    }
    .buttonsConfirm {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      button {
        border: 0;
        background-color: $nav-black;
        padding: 10px;
        color: $site-white;
        width: 100px;
        border-radius: 5px;
        cursor: pointer;
        &:nth-child(2) {
          background-color: $site-green;
          color: $nav-black;
        }
      }
    }
  }
  .exit {
    width: 50px;
    height: 50px;
    background-color: $site-white;
    top: 25px;
    right: 25px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    .line1,
    .line2 {
      height: 3px;
      width: 80%;
      background-color: $nav-black;
      position: relative;
      top: 50%;
      left: 10%;
    }
    .line1 {
      transform: rotate(45deg);
      top: 47%;
    }
    .line2 {
      transform: rotate(-45deg);
      top: 41%;
    }
  }
  .title {
    font-size: 24px;
    margin: 20px;
  }
  .dateSelection {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    label {
      font-size: 20px;
      margin-bottom: 5px;
    }
    input {
      color: white;
      background-color: $nav-black;
      border: 0;
      font-size: 20px;
      padding: 7px;
      border-radius: 5px;
      border-bottom: 1px solid $site-green;
      transition: 0.1s ease-in-out;
      color-scheme: dark;
      &:focus {
        outline: 0;
        border-bottom: 1px solid $site-red;
      }
    }
  }
  .strategySelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    flex-direction: column;
    .title {
      font-size: 22px;
    }
    .strategyBtn {
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      flex-wrap: wrap;
      button {
        padding: 10px;
        font-size: 20px;
        background-color: $nav-black;
        border: 0;
        border-bottom: 1px solid $site-green;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        width: 200px;
        margin: 20px;
      }
      .active {
        transform: scale(1.2);
        border-bottom: 1px solid $site-red;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      }
      .inactive {
        transform: scale(1);
      }
    }
  }
  .pnl {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    label {
      margin-bottom: 10px;
    }
    input {
      color: white;
      background-color: $nav-black;
      border: 0;
      font-size: 22px;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 1px solid $site-green;
      transition: 0.1s ease-in-out;
      color-scheme: dark;
      &:focus {
        outline: 0;
        border-bottom: 1px solid $site-red;
      }
    }
  }
  .addMoreInfoBtn {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    img {
      width: 40px;
    }
    .removeTradewise {
      transform: rotate(45deg);
    }
    span {
      padding: 10px;
    }
  }

  .numOfTrades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 20px;
      margin: 20px;
    }
    input {
      color: white;
      width: 150px;
      background-color: $nav-black;
      border: 0;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 1px solid $site-green;
      transition: 0.1s ease-in-out;
      color-scheme: dark;
    }
  }

  .tradeSelectionMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    button {
      padding: 10px;
      font-size: 20px;
      background-color: $nav-black;
      border: 0;
      border-bottom: 1px solid $site-green;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      width: 150px;
      margin: 20px;
    }
    .active {
      transform: scale(1.2);
      border-bottom: 1px solid $site-red;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    }
    .inactive {
      transform: scale(1);
    }
  }

  .tradeWiseInputs {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    // background-color: $site-white;
    .active {
      transform: scale(1.15);
      border-bottom: 1px solid $site-red;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    }
    .inactive {
      transform: scale(1);
    }

    input {
      color: white;
      background-color: $nav-black;
      border: 0;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 1px solid $site-green;
      transition: 0.1s ease-in-out;
      color-scheme: dark;
      margin: 20px;
      margin-top: 0;
      width: 100%;
    }
    .tradeDataInput {
      // background-color: $site-white;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 20px;
      margin-top: 0;
      margin-bottom: 0;
      .title {
        margin: 0;
        font-size: 18px;
      }
      input {
        color: white;
        background-color: $nav-black;
        border: 0;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid $site-green;
        transition: 0.1s ease-in-out;
        color-scheme: dark;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
      }
    }

    .tradeTypeBtn,
    .directionSelectBtn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin-bottom: 20px;
        margin-top: 0;
        padding: 10px;
        font-size: 20px;
        background-color: $nav-black;
        border: 0;
        border-bottom: 1px solid $site-green;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        min-width: 170px;
      }
    }
  }

  .finalButton {
    button {
      margin-bottom: 20px;
      margin-top: 30px;
      padding: 10px;
      font-size: 20px;
      background-color: $nav-black;
      border: 0;
      border-bottom: 1px solid $site-green;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      min-width: 250px;
      &:hover {
        transform: scale(1.2);
        border-bottom: 1px solid $site-red;
      }
    }
  }
}
