.addTradeContainer {
  position: absolute;
  transition: 0.1s ease-in-out;
  top: 0%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(27, 27, 27, 0.431372549);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-family: inter;
  color: white;
}
.addTradeContainer .title {
  font-size: 24px;
  margin: 20px;
}
.addTradeContainer .dateSelection {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.addTradeContainer .dateSelection label {
  font-size: 20px;
  margin-bottom: 5px;
}
.addTradeContainer .dateSelection input {
  color: white;
  background-color: #262626;
  border: 0;
  font-size: 20px;
  padding: 7px;
  border-radius: 5px;
  border-bottom: 1px solid #b7ff9e;
  transition: 0.1s ease-in-out;
  color-scheme: dark;
}
.addTradeContainer .dateSelection input:focus {
  outline: 0;
  border-bottom: 1px solid #ff9e9e;
}
.addTradeContainer .strategySelection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}
.addTradeContainer .strategySelection .title {
  font-size: 22px;
}
.addTradeContainer .strategySelection .strategyBtn {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  flex-wrap: wrap;
}
.addTradeContainer .strategySelection .strategyBtn button {
  padding: 10px;
  font-size: 20px;
  background-color: #262626;
  border: 0;
  border-bottom: 1px solid #b7ff9e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  width: 200px;
  margin: 20px;
}
.addTradeContainer .strategySelection .strategyBtn .active {
  transform: scale(1.2);
  border-bottom: 1px solid #ff9e9e;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}
.addTradeContainer .strategySelection .strategyBtn .inactive {
  transform: scale(1);
}
.addTradeContainer .pnl {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.addTradeContainer .pnl label {
  margin-bottom: 10px;
}
.addTradeContainer .pnl input {
  color: white;
  background-color: #262626;
  border: 0;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #b7ff9e;
  transition: 0.1s ease-in-out;
  color-scheme: dark;
}
.addTradeContainer .pnl input:focus {
  outline: 0;
  border-bottom: 1px solid #ff9e9e;
}
.addTradeContainer .addMoreInfoBtn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
.addTradeContainer .addMoreInfoBtn img {
  width: 40px;
}
.addTradeContainer .addMoreInfoBtn .removeTradewise {
  transform: rotate(45deg);
}
.addTradeContainer .addMoreInfoBtn span {
  padding: 10px;
}
.addTradeContainer .numOfTrades input {
  color: white;
  background-color: #262626;
  border: 0;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #b7ff9e;
  transition: 0.1s ease-in-out;
  color-scheme: dark;
}/*# sourceMappingURL=addtrade.css.map */