@import "../../utils/variables";

.addTradeContainer {
  position: absolute;
  transition: 0.1s ease-in-out;
  top: 0%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #1b1b1b6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  font-family: inter;
  color: white;
  .title {
    font-size: 24px;
    margin: 20px;
  }
  .dateSelection {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    label {
      font-size: 20px;
      margin-bottom: 5px;
    }
    input {
      color: white;
      background-color: $nav-black;
      border: 0;
      font-size: 20px;
      padding: 7px;
      border-radius: 5px;
      border-bottom: 1px solid $site-green;
      transition: 0.1s ease-in-out;
      color-scheme: dark;
      &:focus {
        outline: 0;
        border-bottom: 1px solid $site-red;
      }
    }
  }
  .strategySelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 40%;
    flex-direction: column;
    .title {
      font-size: 22px;
    }
    .strategyBtn {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      button {
        padding: 10px;
        font-size: 20px;
        background-color: $nav-black;
        border: 0;
        border-bottom: 1px solid $site-green;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.1s ease-in-out;
      }
      .active {
        transform: scale(1.2);
        border-bottom: 1px solid $site-red;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      }
      .inactive {
        transform: scale(1);
      }
    }
  }
  .pnl {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    label {
      margin-bottom: 10px;
    }
    input {
      color: white;
      background-color: $nav-black;
      border: 0;
      font-size: 20px;
      padding: 5px;
      border-radius: 5px;
      border-bottom: 1px solid $site-green;
      transition: 0.1s ease-in-out;
      color-scheme: dark;
      &:focus {
        outline: 0;
        border-bottom: 1px solid $site-red;
      }
    }
  }
  .addMoreInfoBtn {
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    img {
      width: 40px;
    }
    span {
      padding: 10px;
    }
  }
}
