@import "../../utils/variables";

.register-container {
  transition: 0.1s ease-in-out;
  top: 100%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #1b1b1bbe;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  .passmatch {
    font-family: inter;
  }
  .exit {
    width: 50px;
    height: 50px;
    background-color: $site-white;
    top: 25px;
    right: 25px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    .line1,
    .line2 {
      height: 3px;
      width: 80%;
      background-color: $nav-black;
      position: relative;
      top: 50%;
      left: 10%;
    }
    .line1 {
      transform: rotate(45deg);
      top: 47%;
    }
    .line2 {
      transform: rotate(-45deg);
      top: 41%;
    }
  }
  .reg-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 800px;
    h1 {
      font-family: inter;
      color: $site-white;
      text-align: center;
    }
    input {
      padding: 15px;
      font-size: 20px;
      border: 0;
      border-bottom: 1px solid $site-red;
      border-radius: 5px;
      width: 50%;
      background-color: $nav-black;
      transition: 0.2s ease-in-out;
      color: $site-white;
      &:focus {
        outline: none;
        transition: 0.2s ease-in-out;
        border-bottom: 1px solid $site-green;
      }
    }
    button {
      width: 25%;
      text-align: center;
      padding: 15px;
      font-size: 20px;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      background-color: $nav-black;
      color: $site-white;
      transition: 0.1s ease-in-out;
      border-bottom: 1px solid $site-green;
      &:hover {
        border-bottom: 1px solid $site-red;
      }
    }
  }
}
