@import "../../utils/variables";

.login-container {
  transition: 0.1s ease-in-out;
  top: 100%;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #1b1b1b6e;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  .exit {
    width: 50px;
    height: 50px;
    background-color: $site-white;
    top: 25px;
    right: 25px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    .line1,
    .line2 {
      height: 3px;
      width: 80%;
      background-color: $nav-black;
      position: relative;
      top: 50%;
      left: 10%;
    }
    .line1 {
      transform: rotate(45deg);
      top: 47%;
    }
    .line2 {
      transform: rotate(-45deg);
      top: 41%;
    }
  }
  .log-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 800px;
    background-color: $nav-black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .forgotPass {
      cursor: pointer;
      transition: 0.1s ease-in-out;
      color: $site-red;
      &:hover {
        color: $site-green;
      }
    }
    h1 {
      color: $site-white;
      text-align: center;
    }
    input {
      padding: 15px;
      font-size: 20px;
      border: 0;
      border-bottom: 1px solid $site-red;
      border-radius: 5px;
      width: 50%;
      background-color: $nav-black;
      transition: 0.2s ease-in-out;
      color: $site-white;
      &:focus {
        outline: none;
        transition: 0.2s ease-in-out;
        border-bottom: 1px solid $site-green;
      }
    }
    button {
      background-color: $site-white;
      color: $body-black;
      padding: 8.5px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      font-size: 20px;
      border: 0;
    }
  }
}
