@import "../utils/variables";
* {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #555;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  background-color: $body-black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 300vh;
}
