@import "../../utils/variables";

.topbarContainer {
  height: 60px;
  width: 100vw;
  color: $site-white;
  font-family: $inter;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: $site-red;
  .left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    font-size: 16px;
    div {
      margin-right: 30px;
    }
    span {
      margin-right: 10px;
    }
    select {
      background-color: $nav-black;
      color: $site-white;
      font-size: 16px;
      padding: 5px;
      width: 150px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin-right: 20px;
    div {
      margin-left: 20px;
    }
    .addStrategy,
    .addTrade {
      background-color: $site-white;
      color: $body-black;
      padding: 8.5px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
  }
}
